*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 95%;
    margin: 0 auto;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.nav-wrapper{
    background-color: #303030;
}

nav{
    padding: 10px 0px;
}
nav img{
    width: 100px;
}
li{
    font-size: 20px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 400;
    font-family: "Oswald";
    list-style-type: none;
    padding: 10px 30px;
}
.search>i{
    font-size: 20px;
    color: #ffffff;
}


