body{
    background-color: #365033;
}
h1{
    background-color: burlywood;
    color: maroon;
}
.container {
    height: 500px;
    width:100%;
    border:2px solid black;
    margin: auto;
    text-align: center;
    background-color: #365033;
}
  .row{
    height:50px;
    width:100%;
}
  .dark{
    height:90px;
    width:140px;
    background-color:green;
    display: inline-block;    
}
.light{
    height:90px;
    width:140px;
    background-color: greenyellow;
    display: inline-block;
}