body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    /* background-color: rgba(0, 0, 0, 0.278); */
    position: absolute;
    width: 90%;
    z-index: 10;
    color: aliceblue;
}

header .logo {
    font-size: 10px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 40%;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    color: aliceblue;
}

.contact a {
    text-decoration: none;
    font-size: 18px;
    border: 1px solid rgb(255, 255, 255);
    padding: 5px 10px;
    border-radius: 5px;
    color: aliceblue;
}

.hero {
    background: url('../images/MAIN.PNG') no-repeat center center/cover;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.hero::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 2;
}

.hero-text {
    position: relative;
    z-index: 3;
    color: white;
    text-align: center;
}

.hero-text h1 {
    font-size: 48px;
    margin: 0;
}

.content {
    padding: 50px 20px;
    text-align: center;
    font-size: 24px;
    color: #666;
}

.mission-values {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
}

.mission-values .image-container {
    width: 100%;
    max-width: 800px;
}

.mission-values img {
    width: 100%;
    height: auto;
}

.mission-values .text-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 800px;
    margin-top: 30px;
}

.mission-values .text-container > div {
    flex: 1;
    margin: 0 20px;
    text-align: center;
}

.mission-values h2 {
    font-size: 24px;
    color: #2e2e2e;
}

.mission-values p {
    font-size: 18px;
    color: #666;
}