/* Syntax  */

        /* Selector{
            property1: value1;
            property2: value2;
        } */
        
        .External{
            background-color: rgb(120, 20, 20);
            color: rgb(97, 245, 174);
            font-size: 30px;
        }

body{
    background-color: rgb(230, 246, 64);
}
